{% load static %}
<div class="col-md-3 my-profile-w-20 g-0">
    <div class="sticky-content">
        <div class="profile-nav">
            <div class="profile-image">
                <img src="{% static 'images/fulllogo.jpg' %}" alt>
            </div>

            <div class="profile-navigation">
                <ul>
                    {% url 'management:user_dashboard' as user_dashboard_url %}
                    <li {% if request.path == user_dashboard_url %} class="active" {% endif %}><a href={% url 'management:user_dashboard' %}><span class="material-symbols-rounded me-2">
                                grid_view
                            </span>Dashboard</a>
                    </li>
                    {% if request.user.membership %}
                    {% url 'management:new_membership' as new_membership_url%}
                    <li {% if request.path == new_membership_url %} class="active" {% endif %}>
                        <a href={% url 'management:view_membership' id=request.user.membership.id %}><span class="material-symbols-rounded me-2">
                                add_card
                            </span>Membership Details
                        </a>
                    </li>
                    {% else %}
                    {% url 'management:new_membership' as new_membership_url%}
                    <li {% if request.path == new_membership_url %} class="active" {% endif %}>
                        <a href={% url 'management:new_membership' %}><span class="material-symbols-rounded me-2">
                                add_card
                            </span>New Membership
                        </a>
                    </li>
                    {% endif %}
                    {% if request.user.role == 2 and request.user.membership %}
                    {% url 'management:payment' as payment_url%}
                    <li {% if request.path == payment_url %} class="active" {% endif %}>
                        <a href={% url 'management:payment' %}><span class="material-symbols-rounded me-2">
                                add_card
                            </span>Payment
                        </a>
                    </li>
                    {% endif %}

                    <div class="accordion accordion-flush" id="memberRequest">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <li class="acc-li">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#member-request"
                                        aria-expanded="false" aria-controls="member-request">
                                        <a href><span class="material-symbols-rounded me-2">
                                                group_add
                                            </span>Membership Request</a>
                                    </button>
                                </li>
                            </h2>
                            <div id="member-request" class="accordion-collapse collapse"
                                data-bs-parent="#memberRequest">
                                <ul>
                                    <li><a href="{% url 'management:view_general_membership_list' %}">General Member</a></li>
                                    <li><a href="{% url 'management:view_lifetime_membership_list' %}">Lifetime Member</a></li>
                                    <li><a href="{% url 'management:view_student_membership_list' %}">Student Member</a></li>
                                    <li><a href="{% url 'management:view_institutional_membership_list' %}">Institutional Member</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion accordion-flush" id="approvedMember">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <li class="acc-li">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#approved-member"
                                        aria-expanded="false" aria-controls="approved-member">
                                        <a href><span class="material-symbols-rounded me-2">
                                                fact_check
                                            </span>Approved Members</a>
                                    </button>
                                </li>
                            </h2>
                            <div id="approved-member" class="accordion-collapse collapse"
                                data-bs-parent="#approvedMember">
                                <ul>
                                    <li><a href="">All</a></li>
                                    <li><a href="">General Member</a></li>
                                    <li><a href="">Lifetime Member</a></li>
                                    <li><a href="">Student Member</a></li>
                                    <li><a href="">Institutional Member</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

            
                    <li>
                        <a href><span class="material-symbols-rounded me-2">
                                person_cancel
                            </span>Rejected Membership
                        </a>
                    </li>
                    <li><a href={% url 'account:logout_user' %}><span class="material-symbols-rounded me-2">
                        <span class="material-symbols-rounded">
                            power_settings_new
                            </span>
                            </span>Logout</a>
                    </li>
                 </ul>
            </div>
        </div>
    </div>
</div>