{% extends 'layout/layout.html'%}
{% load static %}
{% block content %}
<div class="form-body">
    <div class="form-container">
        <div class="row">
            <div class="col-md-6 form-info">
                <div class="info-box">
                    <h2>Very good works are waiting for you login now</h2>
                    <img src="{% static 'images/login.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-6 form">
                <div class="row ms-2 back-link">
                    <a href="/">
                        <div class="icon-box"><span class="material-symbols-outlined">
                            arrow_back_ios
                            </span></div> Back home</a>
                </div>
                {% block message %}
                <div class="login-head">
                    <h5>Password Reset</h5>
                    <p>We have sent link in your email for resetting your password. Please check your mail.
                      <br>If you didn't receive an email, please make sure you've entered the correct email address.</p>
                </div>

                    <div class="row mt-5">
                        <p class="dna">Back to login <a href="{% url 'account:login_user' %}" class="text-end fp">Login</a></p>
                    </div> 
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}