{% extends 'layout/layout.html'%}
{% load static %}
{% block content %}
<div class="form-body">
    <div class="form-container">
        <div class="row">
            <div class="col-md-6 form-info">
                <div class="info-box">
                    <h2>Very good works are waiting for you login now</h2>
                    <img src="{% static 'images/login.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-6 form">
                <div class="row ms-2 back-link">
                    <a href="/">
                        <div class="icon-box"><span class="material-symbols-outlined">
                            arrow_back_ios
                            </span></div> Back home</a>
                </div>
                
                <form action="" method='post'>
                    {% csrf_token %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                    {% endif %}
                    <div class="row mb-3">
                        <label class="form-label cm">Enter New Password</label>
                        <input type="password" class="form-control" placeholder="Retype your password" name="new_password1" required>
                    </div>

                    <div class="row mb-3">
                        <label class="form-label cm">Retype New Password</label>
                        <input type="password" class="form-control" placeholder="Retype your password" name="new_password2" required>
                    </div>

                    <div class="row">
                        <button type="submit" class="submit-btn btn">Reset password</button>
                    </div>

                    <div class="row mt-5">
                        <p class="dna">Don't have an account ? <a href="{% url 'account:signup' %}" class="text-end fp">Sign Up</a></p>
                    </div>
                    
                </form>

                
            </div>
        </div>
    </div>
</div>

{% endblock %}