{% extends 'layout/layout.html' %}
{% load static %}
{% block content %}
<div class="form-body">
    <div class="form-container">
        <div class="row">
            <div class="col-md-6 form-info">
                <div class="signup-info-box">
                    <h2>Membership Guidlines</h2>
                    <p>At present, there are three individual membership and one institutional membership categories in Nepal Geotechnical Society:</p>
                    <ul>
                        <li>Regular (General) Member <br> First time registration fee: NRs. 2,000 and annual renewal fee: NRs. 1,000</li>
                        <li class="mt-3">Life Membership <br> Registration fee: NRs. 10,000</li>
                        <li class="mt-3">Student Membership <br>First time registration fee: NRs. 1,000 and annual renewal fee: NRs. 500</li>
                        <li class="mt-3">Institutional Membership <br> First time registration fee: NRs. 1,00,000 and annual renewal fee: NRs. 10,000.</li>
                    </ul>
                    <img src="{% static 'images/login.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-6 form">
                <div class="row ms-2 back-link">
                    <a href="/">
                        <div class="icon-box"><span class="material-symbols-outlined">
                            arrow_back_ios
                            </span></div> Back home</a>
                </div>
                <form action="{% url 'account:signup' %}" method ="post">
                    {%  csrf_token %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                    {% endif %}
                    <div class="row mb-3">
                        <label class="form-label cm">First Name</label>
                        <input type="text" class="form-control cm" placeholder="Enter your first name" name="first_name" required>
                    </div>

                    <div class="row mb-3">
                        <label class="form-label cm">Last Name</label>
                        <input type="text" class="form-control" placeholder="Enter your last name" name="last_name" required>
                    </div>

                    <div class="row mb-3">
                        <label class="form-label cm">Email Address</label>
                        <input type="email" class="form-control" placeholder="Enter email address" name="email" required>
                    </div>

                    <div class="row mb-3">
                        <label class="form-label cm">Phone Number</label>
                        <input type="text" class="form-control" placeholder="Enter phone number" name="phone_number" required>
                    </div>

                    <div class="row mb-3">
                        <label class="form-label cm">Password</label>
                        <input type="password" class="form-control" placeholder="Enter your password" name="password" required>
                    </div>

                    <div class="row">
                        <button type="submit" class="submit-btn btn">Register</button>
                    </div>

                    <div class="row mt-5">
                        <p class="dna">Already have an account ? <a href="{% url 'account:login_user' %}" class="text-end fp">Login</a></p>
                    </div>
                    
                </form>

                
            </div>
        </div>
    </div>
</div>

{% endblock %}